html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar {
    display: flex;
}

.logo-img{
    height: 50px;
}

.nav-left > h1{
    margin: 0px;
    padding: 10px;
}


.nav-right > h2{
    margin: 0px;
}

.navbar > h1{
    margin: 0px;
}

.nav-left{
    margin-right: auto;
    display: flex;
}


.nav-right{
    display: flex;
    margin-left: auto;
}

.nav-right > h2 > a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.graph-ui{
    margin: auto;
    text-align: center;
}

.graphs{
   display: flex;
}

.savings-graph{
    margin: 10px;
    width: 50%;
    margin-top: auto;
}

.expenses-graph{
    margin: 10px;
    width: 50%;
}

.savings-bar{
    /* Change height % of the BARS  */
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: rgb(69,  183, 31);
}

.expenses-bar{
    height: 100px;
    width: 100px;
    margin: auto;
    background-color: red;
}
